/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	/* color: #000; */
	/* font-family:""; */
	overflow-x: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/* background-color: #333; */
}
.wrapper {
	height: 100%;
	padding: 30px;
}
/* ------------------------------ */
.place-wheel {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: transparent;
	position: absolute;
	overflow: hidden;
	bottom: -70px;
}
.place-wheel::after {
	content: "";
	display: block;
	background-color: rgb(192, 188, 188);
	height: 80px;
}
.wheel {
	width: 130px;
	height: 130px;
	border: 30px solid black;
	border-radius: 50%;
	position: absolute;
	background-color: white;
	/* animation: whell 5s linear infinite; */
	animation-name: whell;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes whell {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
.wheel div {
	width: 32.727px;
	height: 18px;
	background: black;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
 .wheel div:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -8.75px;
    left: 0;
    border-left: 16.363px solid transparent;
    border-right: 16.363px solid transparent;
    border-bottom: 8.75px solid black;
}

.wheel div:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -8.75px;
    left: 0;
    border-left: 16.363px solid transparent;
    border-right: 16.363px solid transparent;
    border-top: 8.75px solid black;
} 
/* .wheel::before {
	content: "";
	display: block;
	height: 35px;
	width: 35px;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
} */
.car__wheels {
	/* padding: 0px 0px 0px 90px; */
	/* margin: -60px 0px 0px 0px; */

	position: absolute;
	width: 761px;
	height: 130px;
	left: 0;
	bottom: -70px;
}
.car__front-wheel {
	position: absolute;
	left: 90px;
}
.car__rear-wheel {
	position: absolute;
	right: 90px;
}
/* .wheel div {
	height: 35px;
	width: 35px;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
} */
.main {
	font-size: 0;
	height: 100%;
	position: relative;
}
.sky {
	height: 30%;
	background: linear-gradient(to top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	position: relative;
}
.sky__clouds {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}
.sky__clouds img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	bottom: 0;
}
.sky__clouds img:nth-child(1) {
	animation: animate-clouds 16s linear infinite;
}
.sky__clouds img:nth-child(2) {
	animation: animate-clouds 24s linear infinite;
}
.sky__clouds img:nth-child(3) {
	animation: animate-clouds 32s linear infinite;
}
@keyframes animate-clouds {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
.sky__sun {
	height: 70px;
	width: 70px;
	background-color: #f9d71c;
	border-radius: 50%;
	position: absolute;
	left: 80%;
	top: 10%;
	animation: sun 3s linear infinite alternate;
	z-index: 2;
}
@keyframes sun {
	0% {
		box-shadow: 0px 0px 10px 0px yellow;
	}
	50% {
		box-shadow: 0px 0px 20px 5px yellow;
	}
	100% {
		box-shadow: 0px 0px 30px 15px yellow;
	}
}
.sun__mouth {
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 30%);
}
.sun__mouth::before {
	content: "";
	display: block;
	height: 140%;
	width: 140%;
	background-color: #f9d71c;
	/* background-color: black; */
	border-radius: 50%;
	position: absolute;
	top: -60%;
	left: 50%;
	transform: translate(-50%);
}
.sun__eye {
	height: 20px;
	width: 10px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	z-index: 1;
}
.sun__eye::before {
	content: "";
	display: block;
	position: absolute;
	right: 40%;
	top: 50%;
	width: 5px;
	height: 5px;
	background-color: #f9d71c;
	border-radius: 50%;
	transition: all 0.3s ease 0s;
}
.sun__eye::after {
	content: "";
	display: block;
	width: 10px;
	/* height: 100%; */
	background-color: #f9d71c;
	position: absolute;
	top: 0;
	left: 0;
	animation: eye 3s infinite linear alternate 1s;
}
@keyframes eye {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}
.sun__eye_l {
	left: 20px;
}
.sun__eye_r {
	right: 20px;
}
.sky__sun:hover .sun__eye::before {
	background-color: red;
	right: 50%;
	transform: translate(50%, -50%);
}
.sky__sun:hover .sun__eye::after {
	animation-name: none;
	transition: all 5s ease 0s;
}
.sky__sun:hover {
	animation-name: none;
	box-shadow: 0px 0px 40px 10px red;
}
.earth {
	height: 70%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
		#33cc00 url(http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
	position: relative;
	overflow: hidden;
}
.earth__road {
	height: 300px;
	position: absolute;
	width: 200%;
	top: 50%;
	transform: translateY(-20%);
	background: url("../img/asphalt3.jpg") 0 0 / contain repeat;
	animation: road 10s infinite linear;
}
@keyframes road {
	0% {
		left: -100%;
	}
	100% {
		left: -3%;
	}
}
.car {
	/* max-width: 800px;
	margin: 0 auto; */
	white-space: nowrap;
	position: absolute;
	right: 100px;
	z-index: 100;
	width: 761px;
	height: 265px;
}
.car__salon {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 761px;
	height: 265px;
	animation: salon 0.8s alternate infinite;
}
@keyframes salon {
	0% {
		top: 0px;
	}
	100% {
		top: 10px;
	}
}
.bumper {
	height: 50px;
	width: 55px;
	background-color: #dbd9da;
	border-radius: 10px;
	position: absolute;
	bottom: -10px;
}
.face {
	display: inline-block;
	width: 270px;
	height: 150px;
	border-radius: 150px 0 0 0;
	position: relative;
	border-top: 20px solid transparent;
	border-right: 270px solid #af3150;
}
.face__front-bumper {
	width: 55px;
	left: -5px;
}
.face__front-lights {
	height: 60px;
	width: 25px;
	border-radius: 100% 0;
	background-color: #ffbb00;
	position: absolute;
	top: 25px;
	left: 12px;
	transform: rotate(9deg);
	box-shadow: -8px 0px 15px 0px #ffbb00;
}
.face__place-wheel {
	left: 80px;
}
.rear {
	display: inline-block;
}
.top__goods {
	margin: 0 auto;
	height: 15px;
	width: 230px;
	border-top: 5px solid black;
	border-left: 10px solid black;
	border-right: 10px solid black;
	border-radius: 20px 20px 0 0;
	transform: translate(10%);
	position: relative;
}
.top__goods::before {
	content: "";
	display: block;
	width: 5px;
	height: 100%;
	background-color: black;
	position: absolute;
	left: 40px;
}
.top__goods::after {
	content: "";
	display: block;
	width: 5px;
	height: 100%;
	background-color: black;
	position: absolute;
	right: 40px;
}
.salon {
	display: block;
	width: 500px;
	height: 250px;
	background-color: #af3150;
	border-top-left-radius: 120px 160px;
	border-top-right-radius: 110px;
	margin-left: -9px;
	position: relative;
}
.salon__rear-bumper {
	right: -10px;
	width: 75px;
}
.saloon__rear_lights {
	height: 60px;
	width: 15px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	right: -7px;
	top: 130px;
	z-index: 1;
	box-shadow: 5px 0px 20px 0px red;
}
.saloon__place-wheel {
	right: 80px;
}
.saloon__glass {
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 0;
}
.saloon__glass div {
	display: inline-block;
	height: 100px;
	background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 60%, #05abe0 100%);
}
.saloon__glass div:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
.saloon__glass div:nth-child(1) {
	width: 140px;
	border-top-left-radius: 160px 160px;
	position: relative;
}
.saloon__glass div:nth-child(2) {
	width: 100px;
	position: relative;
	margin: 0px 30px 0px 0px;
}
.saloon__glass div:nth-child(2)::after {
	content: "";
	display: block;
	height: 100%;
	width: 20px;
	background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 60%, #05abe0 100%);
	position: absolute;
	right: -10px;
	top: 0px;
	transform: skew(5deg, 0);
}
.saloon__glass div:nth-child(1)::before {
	content: "";
	width: 40px;
	height: 20px;
	display: block;
	position: absolute;
	background-color: #881733;
	bottom: -10px;
	left: -15px;
	border-radius: 7px;
}
.saloon__glass div:nth-child(3) {
	width: 90px;
	transform: skew(5deg, 0);
	position: relative;
}
.saloon__glass div:nth-child(3)::before {
	content: "";
	display: inline-block;
	width: 80px;
	height: 100px;
	background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 60%, #05abe0 100%);

	position: absolute;
	top: 0px;
	right: -45px;
	transform: skew(30deg, 0);
	border-radius: 0 20px 10px 0;
}
/* ----------------------------------- */
